<form action="/api/addnote" method="POST">
  Title:<br>
  <input type="text" name="title"><br>


  Note:<br>
  <input type="text" name="note"><br>

  ID:<br>
  <input type="text" name="id"><br>



  <input type="submit" value="Add note">
</form>